{% extends "admin/form/add_base.j2" %}
{% block title %}添加用户{% endblock %}
{% block container %}
    <form id="form" class="layui-form" action="/" lay-filter="form">
        <div class="layui-form-item">
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录名</label>
            <div class="layui-input-inline layui-input-wrap">
                <input placeholder="请输入登录名" type="text" name="login_id" lay-verify="required"
                       autocomplete="off"
                       lay-affix="clear"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">昵称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" lay-verify="required" placeholder="请输入昵称"
                           autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" lay-verify="required" placeholder="请输入密码"
                           autocomplete="off"
                           class="layui-input">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block script %}
    <script>
        function startSubmit(callback) {
            layui.use(['form'], function () {
                let form = layui.form
                form.submit('form', (data) => {
                    callback(data.field)
                })
            })
        }
    </script>
{% endblock %}
