<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <title>
            {% block title %}{% endblock %} - 英语辅助学习
        </title>
        <link href="/static/css/layui.min.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2024 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
<script src="/static/js/layui.min.js"></script>
{% block script %}
{% endblock %}

</body>

</html>