<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .layui-header {
            background-color: #2f363c;
        }
    </style>
    {% block style %}
    {% endblock %}
    {% block head %}
        <title>
            {% block title %}{% endblock %} - 英语辅助学习
        </title>
        <link href="/static/css/layui.min.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
<div class="layui-header header-themes" style="margin-bottom: 20px">
    <ul class="layui-nav layui-container">
        <li class="layui-nav-item"><a href="/">英语辅助学习系统</a></li>
        <li class="layui-nav-item"><a href="/books">练习册</a></li>
        <li class="layui-nav-item"><a href="/words">单词</a></li>
        <li class="layui-nav-item"><a href="/collection">我的收藏</a></li>
        {% if current_user.is_authenticated and current_user.rid == 1 %}
            <li class="layui-nav-item">
                <a href="javascript:;">管理员菜单</a>
                <dl class="layui-nav-child">
                    <dd><a href="/admin/words">单词管理</a></dd>
                    <dd><a href="">练习册管理</a></dd>
                    <dd><a href="">用户管理</a></dd>
                </dl>
            </li>
        {% endif %}
        <ul class="layui-nav layui-layout-right">
            {% if current_user.is_authenticated %}
                <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                    <a href="javascript:;">
                        <img src="https://ui-avatars.com/api/?name={{ current_user.name }}" class="layui-nav-img">
                        {{ current_user.name }}
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="/users/exit">退出</a></dd>
                    </dl>
                </li>
            {% else %}
                <li class="layui-nav-item"><a href="/users/login">登录</a></li>
                <li class="layui-nav-item">|</li>
                <li class="layui-nav-item"><a href="/users/register">注册</a></li>
            {% endif %}
        </ul>
    </ul>
</div>
<div class="layui-container">{% block content %}{% endblock %}</div>
<script src="/static/js/layui.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/httpUtils.js"></script>
<script src="/static/js/utils.js"></script>
<script>
    // Usage
    layui.use(function () {
        var layer = layui.layer;
        // Welcome
        {% with messages = get_flashed_messages(with_categories=False, category_filter=['error']) %}
            {% if messages %}
                layer.msg('{{ messages[0] }}');
            {% endif %}
        {% endwith %}

    });
</script>

{% block script %}
{% endblock %}

</body>

</html>